@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #7A1E2C;
  --color-secondary: #F7F1E8;
  --color-accent: #D4A857;
  --color-dark: #1F1F1F;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Lato", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body text-dark bg-secondary antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-primary font-semibold;
  }
}